
.Header{
	width: 100%;
	background-color: #242424;
	z-index: 999;
	position: relative;
	color: #fff;
	a{
		color: #fff
	}
}

.logo-header{
	font-size: 21px;
	font-weight: 600;
	color: #fff;
}


.search-wrap {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition: .5s all ease;
	.container {
		position: relative;
		height: 100%;
	}
	&.active {
		opacity: 1;
		visibility: visible;
	}
	.form-control {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
		border: none;
		z-index: 3;
		font-size: 40px;
		@media(max-width:991.98px) {
			font-size: 20px;
		}
	}

	.search-close {
		z-index: 4;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		span {
			font-size: 30px;
		}
	}
}

.site-logo {

	a {
		text-transform: uppercase;
		
		letter-spacing: .2em;
		font-size: 20px;
		padding-left: 10px;
		padding-right: 10px;
		border: 2px solid #004445;
		color: #fff!important;
		&:hover {
			text-decoration: none;
		}
	}
}
.icons-btn {
	display: inline-block;
	text-align: center;
	span {
		display: block;
		height: 40px;
		width: 40px;
		line-height: 40px;
		@media(max-width:991.98px) {
			width: 24px;
		}
	}
}
.site-menu-toggle {
	display: block;
	text-align: center;
	font-size: 28px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	> span {
		top: 5px;
		position: relative;
	}
}
.site-navbar {
	margin-bottom: 0px;
	z-index: 1999;
	position: relative;
	&.transparent {
		background: transparent;
	}
	.site-navbar-top {
		border-bottom: 1px solid lighten(#004445, 80%);
		padding-top: 20px;
		padding-bottom: 20px;
		margin-bottom: 0px;
		@media(max-width:991.98px){
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
	.site-search-icon {
		a {
			span {
				display: inline-block;
				margin-right: 10px;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	
	a {
		color: #fff;
	}
	.icon {
		font-size: 20px;
	}
	.site-top-icons {
		ul {
			&, li {
				padding: 0;
				margin: 0;
				list-style: none;
			}
			li {
				display: inline-block;
				a {
					margin-right: 10px;
				}
				
				&:last-child {
					a {
						padding-right: 0;
					}
				}
			}
		}
	}
	.site-navigation {

		&.border-bottom {
			border-bottom: 1px solid lighten(#004445, 80%)!important;
		}
		.site-menu {
			margin-left: 0;
			padding-left: 0;
			margin-bottom: 0;
			.active {
				> a {
					color: #4d9aff;
				}
			}
			a {
				text-decoration: none!important;
				font-size: 15px;
				display: inline-block;
			}
			> li {
				display: inline-block;
				> a {
					padding: 15px 5px;
					text-transform: uppercase;
					letter-spacing: .05em;
					color: #fff;
					font-size: 16px;
					font-weight: 600;
					text-decoration: none!important;
					text-shadow: 1px 1px 2px #8cc19b;
					&:hover {
						color: #5994ec;
					}
				}
			}
		}
	}
}


// mobile menu

.site-mobile-menu {
	width: 300px;
	position: fixed;
	right: 0;
	z-index: 2000;
	padding-top: 20px;
	background: #fff;
	height: calc(100vh);
	
	transform: translateX(110%);
	box-shadow: -10px 0 20px -10px rgba(0,0,0,.1);
	transition: .3s all ease-in-out;

	.offcanvas-menu & {
		transform: translateX(0%);
	}

	.site-mobile-menu-header {
		width: 100%;
		float: left;
		margin-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		
		.site-mobile-menu-close {
			float: right;
			margin-top: 8px;
			span {
				font-size: 40px;
				display: inline-block;
				padding-left: 10px;
				padding-right: 10px;
				line-height: 1;
				cursor: pointer;
				transition: .3s all ease;
				&:hover {
					color: #004445;
				}
			}
		}
		.site-mobile-menu-logo {
			float: left;
			margin-top: 10px;
			margin-left: 20px;
			a {
				display: inline-block;
				text-transform: uppercase;
				color: #004445;
				letter-spacing: .2em;
				font-size: 20px;
				padding-left: 10px;
				padding-right: 10px;
				border: 2px solid #004445;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.site-mobile-menu-body {
		// height: 400px;
		overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;
		position: relative;
		padding: 20px;

		height: calc(100vh - 52px);
		padding-bottom: 150px;

	}
	.site-nav-wrap {
		padding: 0;
		margin: 0;
		list-style: none;
		// float: left;

		// width: 100%;
		// height: 100%;
		position: relative;

		a {
			padding: 10px 20px;
			display: block;
			position: relative;
			color: #bbb;
			&:hover {
				color: #2c786c;
			}
		}
		li {
			position: relative;
			display: block;
			&.active {
				> a {
					color: #2c786c;
				}
			}
		}
	}
}