.game-box .container {
  position: relative;
  background: #453eeb;
  border-radius: 5px;
  color: #fff;
  padding: 2em;
  text-align: center;
  margin: 50px 0 0;
  min-height: 500px;
  .text {
    font-size: 32px;
    text-align: center;
  }

  .dog {
    width: 194px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -88.5%);
  }

  .stepNickname {
    input[type="text"] {
      background: transparent;
      border: 0;
      border-bottom: 2px solid #594de5;
      width: 100%;
      max-width: 300px;
      padding: 10px 6px;
      height: 52px;
      font-size: 26px;
      color: #fff;
      margin: 10px 0;
      &::placeholder {
        color: #8a86e0;
      }
      &:focus {
        border-color: #7570ec;
        color: #fff;
        outline: none;
      }
    }
  }
  .avatar{ 
    margin: 20px 0;
  }

}

.btn-next {
  color: #5870ed;
  background: linear-gradient(180deg, #ffffff 0%, #eeeeee 48%, #e5e4f6 100%);
  border: 0;
  padding: 14px 28px;
  margin: 20px auto;
  border-radius: 29px;
  font-weight: bold;
  font-size: 18px;
  display: block;
  span {
    vertical-align: inherit;
    padding: 0 10px;
  }
  svg {
    vertical-align: inherit;
  }
  &[disabled] {
    opacity: 0.7;
  }
  &:focus {
    outline: none;
  }
}

/* STEP LEVEL */

.options {
  margin: 20px 0;
  .item {
    padding: 20px 10px;
    cursor: pointer;
    .top {
      filter: grayscale(1);
      transition: 0.5s all;
      img {
        width: 120px;
        filter: contrast(0.5);
        opacity: 0.6;
        transition: 0.5s all;
      }
    }
    .content {
      h3 {
        color: #7a77bc;
        text-transform: uppercase;
        font-size: 16px;
        padding: 1em 0;
        font-weight: bold;
      }
    }
    &:hover,
    &.active {
      .top {
        filter: grayscale(0);
      }
      img {
        filter: contrast(1);
        opacity: 1;
      }
      h3 {
        color: #fff;
      }
    }
  }
}


/* STEP GAME SELECT */
.game-items {
  margin: 20px auto;
}
.game-item {
  background:#5b54f7;
  padding: 20px 20px;
  margin: 0 0 10px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  .info {
    margin-left: 20px;
    text-align: left;
    max-width: 320px;
    .name {
      font-size: 24px;
      line-height: 2em;
      font-weight: bold;
    }
    .summary{
      color: #fff;
      font-size: 16px;
    }
  }

  &.frog {
    background: #aadc35 url(/static/img/rana.png) no-repeat right bottom;
    .btn-next {
      color: #aadc35
    }
  }

  &.giraffe {
    background: #9292ff url(/static/img/jirafa.png) no-repeat right bottom;
    .btn-next {
      color: #9292ff
    }
  }

  &.penguin {
    background: #64d3ff url(/static/img/pinguino.png) no-repeat right bottom;
    .btn-next {
      color: #64d3ff
    }
  }
  a:hover {
    text-decoration: none;
  }
  .btn-play {
    margin: 0 auto;
  }
}



@media screen and ( max-width: 500px ) { 
  .game-item { flex-direction: column; }
}



/* Loading */

.screen-loading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 300px;

  .sp-slices{
    width: 20px;
    margin: 0 auto;
  }

  .message-loading{
    padding: 20px;
    color: #b6b1ff;
  }
}