.Header {
  width: 100%;
  padding: 1.5rem 0;
  background-color: #5aa076;
  z-index: 999;
  position: relative;
  color: #fff;
  a {
    color: #fff;
  }
  .site-navbar .container {
    display: flex !important;
    align-items: center !important;
    .logo-header {
      flex-grow: 1 !important;
    }
    .main-nav {
      display: block !important;
      ul {
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 0;
        li {
          display: inline-block;
          padding-left: 13px;
          padding-right: 13px;
        }
      }
    }
  }
}

.logo-header {
  font-size: 21px;
  color: #fff;
  span > span {
    color: #c0e2c9;
    font-size: 18px;
  }
}